# Specify filepatterns you want git to ignore.


/node_modules

/public/hot
/public/storage
/storage/*.key
/storage/bcs/templates_c/*
/storage/sql
/storage/webflow


/resources/views/emails/tmp
/vendor
/resources/views/emails/tmp/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea


/public/Attached
/public/studentimages
/public/recipes/cache4

!/public/laravelindex.php
/public/webhooks/sendgrid/data/*
/public/webhooks/zapier/data/*

/public/css/app.css
/public/js/app.js

/public/vendor
!/public/vendor/telescope/*

/public/css/app.css
/public/js/app.js
/public/packages/*



/bcs/vendor
/bcs/webhooks/sendgrid/data/
/bcs/webhooks/wise/
/bcs/webhooks/zapier/
bcs/studentimages/*


/public/phpdoc25668/cache
/storage
/docker

